html,
body {
  height: 100%;
  margin: 0;
  font-family: sans-serif;
}

.app {
  height: 100%;
  display: grid;
  grid-template-rows: auto 45px 1fr;
  grid-template-columns: auto 1fr;
}

header {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.16);
  /* stretch from first grid line to last grid line */
  grid-column: 1/-1;
  background-color: black;
  color: white;
  -ms-grid-column-span: 2;
  grid-row: 2;

  display: grid;
  align-items: center;
  padding: 0 30px;
}

[role='main'] {
  grid-row: 3;
  grid-column: 2;
}

.page-content {
  padding: 0 30px;
  margin-top: 5px;
}

a.menu-link {
  color: inherit;
  text-decoration: none;
}

.loading-container {
  min-height: 200px;
}

.bracket-list-container {
  margin: 10px 0;
  display: grid;
  grid-auto-rows: 150px;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 1em;
}

.bracket-card {
  padding: 20px 5px;
  border: 1px solid gray;
  width: 150px;
  text-align: center;
  cursor: pointer;
}

.bracket-card:hover {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.16);
}

.bracket-info-bar {
  display: grid;
  border-bottom: 1px solid gray;
  padding: 0 30px;
  grid-template-columns: auto 200px;
  align-items: center;
}

.bracket-name {
  padding: 10px 0;
  font-size: 20px;
  font-weight: 600;
}

.team-matchup-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.team-info-container {
  display: grid;
  justify-content: center;
  border: 1px solid gray;
  border-radius: 3px;
  grid-template-columns: 1fr;
  padding: 5px;
  cursor: pointer;
}

.team-info-container:hover {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.16);
}

.team-info-container.selected {
  border: 3px solid green;
}

.matchup-select-form {
  display: grid;
  grid-gap: 10px;
}

.matchup-select-form label {
  text-align: center;
  padding-bottom: 3px;
}

.matchup-select-form-item {
  display: grid;
  justify-content: center;
  grid-gap: 20px;
}

.matchup-meta-info-container {
  grid-template-columns: 1fr 1fr;
}

.matchup-meta-info-item {
  display: grid;
  align-items: start;
  justify-content: center;
}

.matchup-notes {
  width: 350px;
  height: 50px;
}

.matchup-card-container {
  margin: 10px;
}

.round-info {
  font-size: 16px;
  font-weight: 600;
}

.matchup-card {
  width: 500px;
  padding: 10px;
  border: 1px solid gray;
}

.matchup-card-team-info:not(:first-child) {
  margin-top: 5px;
}

.matchup-card-team-info {
  display: grid;
  grid-template-columns: 30px minmax(200px, 1fr) minmax(100px, 1fr) minmax(
      100px,
      1fr
    );
  padding: 3px;
}

.matchup-card-team-info.winner {
  border: 1px solid green;
  border-radius: 5px;
}

.matchup-card-info {
  margin: 4px 0;
}

.layout-section {
  padding: 3px;
}

.team-info-card-label {
  text-align: center;
  font-size: 16px;
  font-weight: 600;
}

.layout-section-label {
  font-size: 14px;
  font-weight: 600;
  padding: 2px 0;
}

.layout-stats {
  font-size: 14px;
}

.layout-stat-value {
  max-width: 150px;
  padding: 2px;
}

.layout-stat-label {
  max-width: 150px;
  padding: 2px;
  font-weight: 600;
}

.stat-row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.confidence-picker-container input[type='radio'] {
  margin-right: 5px;
  margin-left: 10px;
}

.btn {
  height: 40px;
  min-width: 80px;
}
